<div class="modal-container">
<h1 mat-dialog-title>Inserir novo gasto</h1>
 
<form [formGroup]="form" (ngSubmit)="onClick()">
<mat-form-field>
    <mat-label>Descrição do Gasto</mat-label>
    <input matInput placeholder="Descrição" formControlName="spentDescription" >
</mat-form-field>  
<mat-form-field> 
    <mat-label>Selecione Tipo Gasto</mat-label>
    <mat-select formControlName="cdTipSpent">
      <mat-option  *ngFor="let tipgastos of tipogasto"
         [value]="tipgastos.idTypeSpent">
         {{tipgastos.titleTypeSpent}}
      </mat-option>  
   </mat-select>
</mat-form-field>
<br>
<mat-form-field> 
    <mat-label>Data do Gasto Ocorrido</mat-label>
    <input  matInput [matDatepicker]="dateSpent" formControlName="dateSpent">
    <mat-datepicker-toggle matSuffix [for]="dateSpent"></mat-datepicker-toggle>
    <mat-datepicker touchUi #dateSpent></mat-datepicker>
</mat-form-field> 
<mat-form-field> 
    <mat-label>Valor do Gasto</mat-label>
    <input matInput type="number" placeholder="Insira o Valor do Gasto" formControlName="spentValue">
</mat-form-field> 
<br>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Enviar</button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </div>
</form>  
</div>

