.col-1{
    width: 25%;
    padding: 15px;
    background-color: white;
    margin: auto;
}

/* Meio */
.col-2{
    width: 50%;
    background-color: #FFFFFF;
    margin-top: 12px;
    border-radius: 8px; 
    box-shadow:  5px 08px 30px #000000;
}

.col-2 table { 
    margin: 0 auto;
    border: none;
    align-items: center;
    padding: 0 auto;
    background-color: #FFFFFF;
    width: auto;
}

.col-2 table th{
    background-color: #429ef5; 
    border: none;
    padding: 6px;
    width: auto;
}

.col-2 table tr:first-child{
    background-color: #FFF; 
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: auto;
    
}
.col-2 table th:first-child{
    border-top-left-radius: 8px;
}
.col-2 table th:last-child{
    border-top-right-radius: 8px;
}

.col-2 table tbody td { 
    background-color: #FFFFFF;
    text-align: center;
    padding: 2px;
    border: none;
}


.saldos { 
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    background-color: #FFFFFF;
}

.saldos h3{
    margin: 4px;
    background-color: #FFFFFF;
}

/* Direita */
.col-3{
    width: 25%;
}

 
[class*="col-"] {
    float: left;
    padding: 15px;
  }