

<div class="col-1">
<table border="1">
  <thead></thead>
    <tr>
       <th>Despesa Fixa</th>
       <th>Valor</th>
       <th>Data de Vencimento</th>
       <th>Situação Pagamento</th>
    </tr>
    <tbody>
       <tr *ngFor="let fixas of gastos['despesas']">
         <td>{{fixas.titleExpenses}}</td>
         <td>{{fixas.valueExpenses | currency:'BRL'}}</td>
         <td>{{fixas.dueDate | date:'dd/MM/yyyy'}}</td>
         <td>{{fixas.sitPayment}}</td>
       </tr>
    </tbody>
 </table>
</div> 

<div class="col-2">
<table border="1">
    <thead></thead>
     <div class="saldos">
       <h3>Total em Conta: {{gastos["totalSalaAcc" ] | currency:"BRL"}} </h3> 
       <h3>Total Livre   : {{gastos["totalSalaryFree"] | currency:"BRL"}}</h3>
     </div>
    <tr> 
      <th>Descrição</th>
      <th>Valor</th>
      <th>Tipo de Gasto</th>
      <th>Data do Gastos</th>
    </tr>
    <tbody>
        <tr *ngFor="let index of gastos['spents']"> 
            <td>{{index.spentDescription}}</td>
            <td>{{index.spentValue | currency:"BRL"}}</td>
            <td>{{index.cdTipSpent}}</td>
            <td>{{index.dateSpent | date:'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
  </table>
</div>


<div class="col-3">
  a
</div>