
<div class="col-1">
  <div class ="saldos">
    <h3>Total em Conta: {{gastos["totalSalaAcc" ] | currency:"BRL"}} </h3> 
    <h3>Total Livre   : {{gastos["totalSalaryFree"] | currency:"BRL"}}</h3> 
  </div>

  <div class="saldos">
     <div *ngFor="let resumo of despesas['ResumoGastos']">
   <h3> {{resumo.titleTypeSpent}} :</h3> <h3>{{resumo.valueSpent | currency: "BRL"}}</h3>
   
     </div>
  </div>
  
  <div class="despesasfixas">
    <div *ngFor="let despesasfixas of gastos['despesas']">
        <h3>{{despesasfixas.titleExpenses}} : {{despesasfixas.valueExpenses | currency: "BRL"}}</h3>
    </div>    
  </div>

  <button mat-raised-button (click)="openDialog()">Inserir Gasto</button>
</div>
<div class="col-2">
<table class="content-table">
    <thead >
    <tr> 
      <th>Descrição</th>
      <th>Valor</th>
      
      <th>Data do Gastos</th>
    </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let index of gastos['spents']"> 
            <td>{{index.spentDescription}}</td>
            <td>{{index.spentValue | currency:"BRL"}}</td>
            
            <td>{{index.dateSpent | date:'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
  </table>
</div>

 
 