.header{
    background-color:  #39207C;
    padding: 12px;
    color: #FCF4D9;
    font-style: bold;

}
 
body{
    margin: 0px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
