 * { 
     background-color: lightgray;
     padding: 0px;
     box-sizing: border-box;
     margin: 0;
 }

 .header{
     background-color: blueviolet;
     padding: 15px;
     color: #FFFFFF;
     font-style: bold;

 }