<!-- Cards -->
<div class="cardBox">
    <div *ngFor="let resumo of resumo" class="card" >
        <div>
            <div class="cardName">{{resumo.titleTypeSpent}}</div>
            <div class="numbers">{{resumo.valueSpent | currency:'R$ '}}</div>
            
        </div>
        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
</div>
            <!-- data List-->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Despesas Fixas</h2>
                        <a (click)="openDialog('gastos','')" class="btn">Adicionar Gastos</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Preço</td>
                                <td>Pagamento</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status pending">Pendente</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status return">Devolvido</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>