<!-- Cards -->
<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Diário</div>
        </div>
        <div class="iconBx">
            <ion-icon name="eye-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Vendas</div>
        </div>
        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Resumo</div>
        </div>
        <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers">R$ 1,504</div>
            <div class="cardName">Combustivel</div>
        </div>
        <div class="iconBx">
            <ion-icon name="cart-outline"></ion-icon>
        </div>
    </div>
</div>
            <!-- data List-->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Despesas Fixas</h2>
                        <a href="#" class="btn">Ver todas</a>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Preço</td>
                                <td>Pagamento</td>
                                <td>Status</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status pending">Pendente</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status return">Devolvido</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>
                            <tr>
                                <td>Refrigerante</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>